@import "tailwindcss";

@theme {
  --color-primary: #12aee2;
  --color-background-light: #f6f8f8;
  --color-background-dark: #101d22;
  --font-display: "Manrope", sans-serif;
}

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 min-h-screen overflow-hidden;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(18, 174, 226, 0.2);
    border-radius: 10px;
  }
}
